.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

*.json
secrets/
dataset/
*.p8
*.pub
src/tes.ipynb
src/raw_core/tests.py
